
<div  th:fragment="bodyAdmin">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><span>Babar</span></a>
                </div>

                <div class="clearfix"></div>
                <!-- sidebar menu -->
                <div th:replace="fragments/menuAdmin :: menuAdmin"/>
                <!-- /sidebar menu -->
            </div>
        </div>
        <!-- top navigation -->
        <div th:replace="fragments/topNavigationAdmin :: topNavigationAdmin"/>
        <!-- /top navigation -->
</div>